.login {
    font-size: 16px;
    position: relative;
    margin: auto;
    padding: 0.7em 2em 0.7em 2em;
    border: none;
    background: #fff;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
   }
   
   .login:active {
    transform: scale(0.97);
   }
   
   .login span {
    color: #464646;
   }
   
   .login .border {
    position: absolute;
    border: 0.15em solid #fff;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 7.5em;
    height: 3em;
    transform: translate(-50%, -50%);
   }
   
   .login:hover .border {
    display: block;
    width: 7.6em;
    height: 3.1em;
   }
   
   .full-rounded {
    border-radius: 2em;
   }
